@charset "UTF-8";
@import url(base.css);

body {
    width: 95vw;
    height: 115vh;
    overflow-x: hidden;
    background-image: url(imagens/fundo.jpg);
    background-position: center bottom;
    background-size: cover;
}

#header {
    display: flex;
    font-family: var(--fonte01);
    font-size: 5em;
    align-items: center;
    justify-content: center;
}

#header > img {
    height: 150px;
    width: 150px;
}

main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Se você precisar de quebra de linha */
}

a {
    margin: 20px 90px;
}

a > .botao-regiao {
    height: 200px;
    width: 200px;
    border-radius: 40px;
    font-family: var(--fonte01);
    color: white;
    font-size: 3em;
    border: none;
    cursor: pointer;
    background-color: var(--cor01);
}

.botao-regiao:hover {
    animation: animacao1 1s forwards;

}

@keyframes animacao1 {
    from {
        background-color: #668F5F;
    }
    to {
        background-color: #4c6847;
    }
}